*{
  box-sizing: border-box;
  /*font-family: 'Ubuntu', serif;*/
  margin: 0 auto;
}

body{
  background-color: #f5f5f5;
  color: #484848;
}

.margen-arriba{
    height: 70px;
}

.contenedor-faqs{
  width: 90%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 25px;
  }

.pregunta{
  text-transform: uppercase;
  background-color: #CCBE99;
  padding: 13px;
  margin-bottom: 1px;
  transition: background-color 0.5s ease;
}

.pregunta:hover{
  background-color: #E4DACE;
}
.pregunta a{
  text-decoration: none;
  color: black;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]#comprar:checked ~ #como-comprar{
  display: block;
}
input[type=checkbox]#preg-crear-cuenta:checked ~ #crear-cuenta{
  display: block;
}
input[type=checkbox]#preg-pago:checked ~ #medios-de-pago{
  display: block;
}
input[type=checkbox]#preg-fact-a:checked ~ #fact-a{
  display: block;
}
input[type=checkbox]#preg-envios-desde:checked ~ #envios-desde{
  display: block;
}
input[type=checkbox]#preg-chequear-pedido:checked ~ #chequear-pedido{
  display: block;
}
input[type=checkbox]#preg-nadie-pedido:checked ~ #nadie-pedido{
  display: block;
}
input[type=checkbox]#preg-recibe-otro:checked ~ #recibe-otro{
  display: block;
}
input[type=checkbox]#preg-devoluciones:checked ~ #devoluciones{
  display: block;
}
input[type=checkbox]#preg-mayorista:checked ~ #mayorista{
  display: block;
}
input[type=checkbox]#preg-contacto:checked ~ #contacto{
  display: block;
}
.respuesta{
  padding-top: 10px;
  display: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.volver-arriba{
  text-decoration: none;
  color: #484848;
  font-size: 12px;
  font-weight: bold;
}

/*-------------- NOTE: footer ------------*/

footer{
   width: 100%;
   overflow: hidden;
   background-color: #484848;
}

footer img{
   float: left;
   position: relative;
   left: 2%;
   top: 25px;
   width: 81px;
}
.pie{
   width: 100%;
   height: 150px;
   background-color: #484848;
   overflow: hidden;
}


div.pie ul{
   float: left;
   list-style: none;
   position: relative;
   top: 31px;
   margin-left: 4%;
}

div.pie ul li a{
   margin: 5px;
   /*color: #B9A88E;*/
   color: rgb(147, 147, 147);
   text-decoration: none;
   transition: 0.6s;
   font-size: 15px;
}
div.pie ul li a:hover{
   color: #B9A88E;
   /*color: rgb(147, 147, 147);*/
}

div.redes-sociales{
   float: right;
   position: relative;
   right: 2%;
}

div.redes-sociales a img{
   width: 35px;
   height: 35px;
   margin: 3px;
   float: right;
   filter: grayscale(100%);
}

div.redes-sociales a img:hover{
   filter: none;
   transition: all 0.7s ease;
}
footer p{
   background-color: #484848;
   text-align: center;
   font-size: 15px;
   color: rgb(147, 147, 147);
   position: relative;
   bottom: 20px;
}
/*------------ NOTE: Footer -----------*/


@media (max-width:960px) and (min-width:461px){
   div.redes-sociales{
      display: none;
   }
}

@media (max-width:460px){
   /* NOTE: Medios de Pagos mobile*/
   div.img-pagos{
      position: relative;
      right: 160px;
      top: 5px;
   }
   div.redes-sociales {
     float: right;
     position: relative;
     right: 166px;
     bottom: 26px;
     display: none;
   }
   .medios-pagos img {
     width: 60px;
     height: 52px;
     position: relative;
     left: 50%;
     margin-top: 18px;
     filter: grayscale(50%);
     margin-right: 10px;
   }
   section.medios-pagos {
     margin-top: 25px;
     width: 100vw;
     height: 95px;
     box-shadow: 0px -3px 25px #888888;
     overflow: hidden;
   }
   .medios-pagos #mercadopago{
     width: 100px;
  }

   /* NOTE: Footer mobile*/

   footer p{
      bottom: 2px;
   }
   footer img{
      top: 10px;
   }
   div.pie ul{
      padding: 3px;
      margin-left: 3px;
      top: 5px;

   }


}
