
  * {
    box-sizing: border-box;
    /*font-family: 'News Cycle', sans-serif;*/
    /*font-family: 'ubuntu', serif;*/
    margin: 0 auto;
    }

    .contenedor{
       width: 100%;
       background-color: #CSC1C0;
       position: relative;

     }

   .banner{
     width: 100%;
     height: auto;
     max-height: 95vh;
     overflow: hidden;
     position: relative;
   }

   .banner video{
      width: 100vw;
      position: relative;
      z-index: 0;
      /*margin-bottom: 50px;*/

   }

   .banner p{
     font-size: 55px;
     color: white;
     font-family: 'EB Garamond', serif;
     position: absolute;
     left: 25%;
     top: 76%;
     border: 2px solid
   }

   .banner img{
     position: relative;
     bottom: 30px;
     right: 47%;
     width: 50%;
     z-index: 2;
   }

   .banner-cel{
     display: none;
   }

   .secciones{
     overflow: hidden;
   }
   .secciones section{
     float: left;
   }
   .secciones .categorias{
        width: 15%;
     background: -webkit-linear-gradient(#B9A88E, white 98%);
     background: -o-linear-gradient(#B9A88E, white 98%);
     background: linear-gradient(#B9A88E, white 98%);
     color: #121D33;
     height: 900px;
   }
   .secciones .categorias h2{
     margin-left: 8%;
     font-size: 14px;
     padding-top: 40px;
     transition: 0.3s;

   }
   .secciones .categorias h3{
     margin-left: 8%;
     font-size: 18px;
   }

   .secciones .categorias h2:hover{
      color: #B9A88E;
   }

   .secciones .categorias ul li{
     font-size: 20px;
     list-style: none;
     transition: 0.3s;
     padding-bottom: 15px;
     padding-top: 10px;
   }

   .secciones .categorias ul li:hover{
      position: relative;
      color: black;
   }

   .secciones .ofertas{
        width: 85%;
     background: -webkit-linear-gradient(#F8F8F8, white);
     background: -o-linear-gradient(#F8F8F8, white);
     background: linear-gradient(#F8F8F8, white);
     overflow: hidden;
     text-align: center;
     color: #121D33;
     height: 1100px;

   }
   .secciones .ofertas .prod-oferta{
     float: left;
     width: 20%;
     position: relative;
     margin: 1.66%;
   }
   .secciones .ofertas .prod-oferta p{
     margin-top: 0px;
   }
   .secciones .ofertas .prod-oferta img{
     width: 100%;
     border-radius: 20%;
     transition: 0.5s;
   }

   .secciones .ofertas .prod-oferta img:hover{
      transform: scale(1.03,1.03);


   }
   .secciones .ofertas .prod-oferta button {
    left: 50%;
    transform: translateX(0%);
    border: 1px solid;
    border-radius: 9px;
    padding: 5px;
    font-size: 15px;
    background-color: #B9A88E;
    }

   .secciones .mas-vendidos{
     width: 20%;
     background-color: #B9A88E;
     height: 800px;
     color: #121D33;
   }
   .secciones  h2{
     margin-left: 8%;
     font-size: 31px;
     margin-left: -20px;
   }


   .secciones .art-mas-vendido{
     width: 84%;
     margin-left: 8%;
   }
   .secciones .art-mas-vendido img{
     width: 100%;
   }

/*--------- NOTE: medios-pagos -------*/

   div.img-pagos{
      position: relative;
      right: 116px;
      top: 5px;
   }
   div.redes-sociales {
     float: right;
     position: relative;
     right: 2%;
     bottom: 26px;
     top: 1%;
   }
   .medios-pagos img {
     width: 60px;
     height: 52px;
     position: relative;
     left: 50%;
     margin-top: 18px;
     filter: grayscale(50%);
     margin-right: 10px;
   }
   section.medios-pagos {
     margin-top: 25px;
     width: 100vw;
     height: 95px;
     box-shadow: 0px -3px 25px #888888;
     overflow: hidden;
   }
   .medios-pagos #mercadopago{
     width: 100px;
   }




/*-------------- NOTE: footer ------------*/



   footer{
      width: 100%;
      overflow: hidden;
      background-color: #484848;
   }

   footer img{
      float: left;
      position: relative;
      left: 2%;
      top: 25px;
      width: 81px;
   }
   .pie{
      width: 100%;
      height: 150px;
      background-color: #484848;
      overflow: hidden;
   }


   div.pie ul{
      float: left;
      list-style: none;
      position: relative;
      top: 31px;
      margin-left: 4%;
   }

   div.pie ul li a{
      margin: 5px;
      /*color: #B9A88E;*/
      color: rgb(147, 147, 147);
      text-decoration: none;
      transition: 0.6s;
      font-size: 15px;
   }
   div.pie ul li a:hover{
      color: #B9A88E;
      /*color: rgb(147, 147, 147);*/
   }

   div.redes-sociales{
      float: right;
      position: relative;
      right: 2%;
   }

   div.redes-sociales a img{
      width: 35px;
      height: 35px;
      margin: 3px;
      float: right;
      filter: grayscale(100%);
   }

   div.redes-sociales a img:hover{
      filter: none;
      transition: all 0.7s ease;
   }
   footer p{
      background-color: #484848;
      text-align: center;
      font-size: 15px;
      color: rgb(147, 147, 147);
      position: relative;
      bottom: 20px;
   }

/*------------ : Footer -----------*/

/* NOTE: Responsive Tablets */

@media (max-width:960px) and (min-width:461px){


   /* NOTE: body */
   div.banner-cel{
     display: block;
     width: 100%;
     background-image: url("../images/banner.jpg");
     height: 400px;
     background-size: 100% 80%;
     background-repeat: no-repeat;
     background-position-y: 45px;
   }
   div.banner-cel img{
      display: none;
   }
   div.banner{
      display: none;
   }
   .secciones .categorias{
      display: none;
   }
   div.secciones{
      margin-top: -105px;
   }
   .secciones .ofertas .prod-oferta {
      float: left;
      width: 30%;
      position: relative;
      margin: 1.66%;

   }
   .secciones .ofertas .prod-oferta p{
      display: none;
   }
   .secciones .ofertas .prod-oferta button {
      left: 50%;
      transform: translateX(0%);
      border: 1px solid;
      border-radius: 9px;
      padding: 2px;
      font-size: 18px;
      width: 70%;
    }
   div.secciones section.ofertas{
      width: 100%;
      height: 100%;
      margin-top: 70px;
   }


   /* NOTE: medios de pagos tablet */
   div.img-pagos{
      position: relative;
      right: 160px;
      top: 5px;
   }
   div.redes-sociales {
     float: right;
     position: relative;
     right: 166px;
     bottom: 26px;
     display: none;
   }
   .medios-pagos img {
     width: 60px;
     height: 52px;
     position: relative;
     left: 50%;
     margin-top: 18px;
     filter: grayscale(50%);
     margin-right: 10px;
   }
   section.medios-pagos {
     margin-top: 25px;
     width: 100vw;
     height: 95px;
     box-shadow: 0px -3px 25px #888888;
     overflow: hidden;
   }
   .medios-pagos #mercadopago{
     width: 100px;
  }
   /* NOTE: Footer tablet */
   footer img.data-fiscal {
      position: relative;
      top: 10px;
      left: 10px;
   }

   div.pie ul {
     float: left;
     list-style: none;
     position: relative;
     top: 5px;
     right: 20px;
   }
   div.redes-sociales {
     float: right;
     position: relative;
     right: 166px;
     bottom: 26px;
   }
   .pie p{

   }

}

/* NOTE: Responsive Mobile */

@media (max-width:460px){


   /* NOTE: body mobile*/

   div.banner{
      display: none;
   }

   div section.categorias{
      display: none;
   }

   div.banner-cel{
     display: block;
     width: 100%;
     background-image: url("../images/banner.jpg");
     height: 400px;
     background-size: 100% 80%;
     background-repeat: no-repeat;
     background-position-y: 45px;
   }
   div.banner-cel img{
     width: 15%;
     position: relative;
     left: 4%;
     top: 302px;
     display: none;
   }
   div.banner-cel p{
     display: none;
     text-align: center;
     font-size: 37px;
     color: white;
     font-family: 'EB Garamond', serif;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     top: 222px;
     border: 2px solid
   }
   div.secciones{
      margin-top: -105px;
      overflow: hidden;
   }
   div.secciones section.ofertas{
      width: 100%;
      height: 100%;
      margin-top: 70px;
   }


   .secciones .ofertas .prod-oferta{
      float: none;
      width: 100%;
      position: relative;
      margin: 1.66%;
      overflow: hidden;
   }
   .secciones .ofertas .prod-oferta p{
      display: none;
   }
   .secciones .ofertas .prod-oferta img{
      margin-bottom: 20px;
   }
   .secciones .ofertas .prod-oferta button {
    left: 50%;
    transform: translateX(0%);
    border: 1px solid;
    border-radius: 9px;
    padding: 10px;
    font-size: 18px;
    }
    .secciones h2 {
    margin: 0px;
    font-size: 30px;

    width: 100%;
}

   /* NOTE: Medios de Pagos mobile*/
   div.img-pagos{
      position: relative;
      right: 160px;
      top: 5px;
   }
   div.redes-sociales {
     float: right;
     position: relative;
     right: 166px;
     bottom: 26px;
     display: none;
   }
   .medios-pagos img {
     width: 60px;
     height: 52px;
     position: relative;
     left: 50%;
     margin-top: 18px;
     filter: grayscale(50%);
     margin-right: 10px;
   }
   section.medios-pagos {
     margin-top: 25px;
     width: 100vw;
     height: 95px;
     box-shadow: 0px -3px 25px #888888;
     overflow: hidden;
   }
   .medios-pagos #mercadopago{
     width: 100px;
  }

   /* NOTE: Footer mobile*/

   footer p{
      bottom: 2px;
   }
   footer img{
      top: 10px;
   }
   div.pie ul{
      padding: 3px;
      margin-left: 3px;
      top: 5px;

   }


}/* fin mobile*/
