* {
  margin: 0 auto;
  box-sizing: border-box;
  /*font-family: 'ubuntu', serif;*/
}
.container {
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 50px;
  height: 700px;
}

/*-------------------- INICIO FORMULARIO -------------------*/

.formulario {
  width: 60%;
  background-color: white;
  border-radius: 4px;
  padding-top: 20px;
}
.formulario h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
form.sesion {
  display: flex;
  flex-direction: column;
}
.datos {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 20px;
}
.datos label, .datos input {
  margin-left: 0;
}
.datos label {
  margin-top: 20px;
  font-size: 20px;
}
.datos input {
  border: 1px solid #dddfe2;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
}
.abajo {
  margin-top: 20px;
  width: 40%;
}
.abajo .boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.abajo .boton input {
  background-color: #5cb85c;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px auto;
}

/*-------------- NOTE: footer ------------*/
}
footer{
   width: 100%;
   overflow: hidden;
}

footer img{
   float: left;
   position: relative;
   left: 30px;
   top: 30px;
   width: 80px;
   height: 60px;
}
.pie{
   background-color: rgb(34,54,63);
   width: 100%;
   height: 150px;
   overflow: hidden;
}

div.pie ul{
   float: left;
   list-style: none;
   position: relative;
   top: 23px;
}

div.pie ul li a{
   margin: 5px;
   color: rgb(96, 96, 96);
   text-decoration: none;
   transition: 0.6s;
}
div.pie ul li a:hover{
   color: #B9A88E;
}

div.redes-sociales{
   float: right;
   position: relative;
   right: 60px;
}

div.redes-sociales a img{
   width: 35px;
   height: 35px;
   margin: 3px;
   float: right;
   filter: grayscale(100%);
}

div.redes-sociales a img:hover{
   filter: none;
   transition: all 0.7s ease;
}
footer p{

   text-align: center;
   font-size: 15px;

   color: rgb(96, 96, 96);
   clear: left;
   position: relative;
   transform: translateY(45px);
}
/*------------ NOTE: Footer -----------*/

@media (max-width:960px) and (min-width:461px){
   .formulario{
      width: 95%;
   }
}

@media (max-width:460px){
   .formulario{
      width: 95%;
   }
   .container{
      height: 500px;
   }
}
